.navbar-brand{
  font-family: Bebas Neue;
  font-size: x-large;
}

.bg-dark{
  background-color: rgb(14, 18, 18) !important;
  color: aliceblue;
}

img{
  height: 30px;
  width: 30px;
}
.nav-link{
  font-family: Francois One;
  font-size: large;
}

